body {
    margin: 10px 30px;
    padding: 30px;
    background: linear-gradient(to right, #00bfa5, #2a5c57);
}

#container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 70%; 
    margin: auto;
    overflow: hidden;

}

#senha {
    align-items: center;
    text-align: center;
    margin: 100px 50px;
    border-radius: 20px;
    padding: 10px;
    height: 90%;
    max-height: 900px;
    background-color: whitesmoke;

}

#cabe {
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(to right, #00bfa5, #2a5c57);
    color: white;
    height: 60px;
    line-height: 60px;
    width: 100%;
    animation: surge 2s ease-in-out;
}

fieldset {
    margin: 8px;
    border: none;
}


#Login h2 {
    margin: 20px 10px;
}

#Voltar {
    background-color: whitesmoke;
    background:  linear-gradient(to right, #00bfa5, #009688);
    color: white;
    border: none;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    min-width: 150px;
}

#Voltar:hover {
    transform: scale(1.15);
    background: linear-gradient(to right, #4FC1E9, #2575fc);
    color: #12181C;
}

.envia {
    background-color: whitesmoke;
    background:  linear-gradient(to right, #00bfa5, #009688);
    transition: background 1.5s ease, transform 0.5s ease; 
    color: white;
    border: none;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    min-width: 120px;
    animation: envia 1.3s ease-in-out;
    display: inline-block;
    width: 20%;
} 

.envia:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, #4FC1E9, #2575fc);
    color: #12181C;
}

select{
    border-radius: 8px;
}   

#senhaVeio {
    display: none;
}


textarea{
    width: 40%;
    text-align: center;
    border-radius: 8px;
}


input, select, textarea  {
    width: 40%;
    text-align: center;
    border-radius: 2px;
    border: 0;
    padding: 8px;
}
form p {
    text-align: center;
    color: darkgrey;
}


.form-group {
    border-radius: 10px;
    margin-left: 10px;
    gap: 30px;
    padding: 10px;
}

.oplog {
    justify-content: center;
    display: flex;
}

.oplog img {
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

hr{
    max-width: 900px;
    width: 50%;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes envia {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}



@keyframes surge {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes vem-de-lado {
    from {
        opacity: 0;
        transform: translatex(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


#container, #senha {
      animation: aparecer 1s ease-in-out;
}

form, .envia, .oplog{
    animation: surge 2s ease-in-out;
}


@media (max-width: 750px) {
    #Registro {
        width: 100%;
        margin: 0;
    }

    body{
        margin: 0;
    }
    input{
        width: 90%;
    }
    
    #login{
        margin: 0;
    }

    #container{
        margin: 0;
        width: 100%;
    }
}